*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(210, 36%, 96%);
    color: #222;
    font-size: 1.25rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20% 0;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 7ch;
}

h1{
    text-transform: capitalize;
    font-size: 32px;
}

#border{
    position: relative;
    top: 1ch;
    background-color: #49a6e9;
    width: 80px;
    height: 4px;
    
}

#whiteBox{
    width: auto;
    height:auto;
    background-color: #fff;
    border-radius: 9px;

}

img{
    width: 150px;
    height: 150px;
    background-color:#49a6e9 ;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2ch;
    
}

h4{
    text-transform: capitalize;
    margin: 1ch 0;
}

#role{
    text-transform: uppercase;
    color: #49a6e9;
    margin: 1ch 0;
}

p{
    margin: 2ch 0;
    width: 80ch;
}



.surpriseME{
    width: 91.86px;
    height: 27px;
    border-radius: 9px;
    color: #49a6e9;
    background-color: #ebf7ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 2ch 0;
    text-transform: capitalize;
}

button:hover{
    background-color: #49a6e9;
    color: #222;
}