*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(210, 36%, 96%);
    color: #222;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#title{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    letter-spacing: 0.25ch;
}

#blueBorder{
    display: block;
    width: 10.5ch;
    height: 0.5ch;
    background-color:#49A6E9;
    margin-top: 1.5ch;
}


img{
width: 15ch;
height: 15ch;
background-color: #49A6E9;
border-radius: 50%;
padding:0.75ch 0.75ch  0 0 ;
object-fit: cover;

}

#subContainer{
    background-color: #fff;
    color: #222;
    width: 80%;
    height: 55%;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 6ch;
}

#authorName{
    text-transform: capitalize;
    letter-spacing: 0.45ch;
    padding: 1.5ch;
}

#authorRole{
    text-transform: uppercase;
    color: #49A6E9;
    letter-spacing: 0.25ch;
    padding: 0;

}

#authorDescription{
    color: #617D98;
    padding: 1.5ch;

}

.material-symbols-outlined{
   
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

button{
    color: #49A6E9;
    background-color: #ebf7ff;
    font: 0.95rem Arial ;
    width: 92px;
    height: 27px;
    border-radius: 9px;
    border: #49A6E9 2px solid;
    cursor: pointer;

}

button:hover{
    background-color: #49A6E9;
    color: #222;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#prev_next{
    margin: 1ch 3ch;
}

#buttonRight{
width: auto;
height: auto;
border: none;

}

#buttonLeft{
    width: auto;
    height: auto;
    border: none;
}